#main {
    font-size: 25px;
    color: orange;
    text-decoration: none;
    margin-left: 0px;
}
button {
    color: white;
    background-color: orange;
}
nav{
    
    background-color: black;
    color: white;
    height: 50px;
    
}
a {
    color: white;
    text-decoration: none;
    margin-right: 200px;
}

.class1{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 15px;
}
#div1{
    background-color: rgba(200,25,150,0.5);
}
#div2{
    background-color: rgba(50,250,250,0.5);
}
#div3{
    background-color: rgba(200,20,25,0.5);
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
}
header{
    text-align: center;
    background-color: gray;
    color: white;
}

#content{
    height: 350px;
}  
div{
    border: 2px solid black;
}